.about-container {
  text-align: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.skills-section {
  display: flex;
  justify-content: center;
  gap: 150px; /* Added gap between the two skill sections */
  margin-top: 20px;
}

.skills-column {
  flex: 1;
  max-width: 300px;
}

.skill-container {
  margin-bottom: 15px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.skill-name {
  font-size: 16px;
}

.skill-percentage {
  font-size: 16px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background-color: #ffcc00;
  border-radius: 4px;
}
